*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img, video{
    max-width: 100%;
    height: 100%;
}
body{
    background-color: orange;
}
li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    /* NAV COMPONENTS */

    .nav-bar .logo .jumia-star3{
        width: 22%;
        height: 4vh;
    }
    .nav-bar .logo .jumia-star3 a{
        font-size: 1em;
    }
    .nav-bar .logo div a p{
        font-size: 1.3rem;
    }
    .nav-bar input{
        height: 1.5rem;
        width: 75%;
    }
    .nav-bar .search a{
        padding: 0.5%;
        font-size: 0.8em;
    }
    .hero .call-to-order{
        display: none;
    }
    .nav-bar .nav-links{
        width: 22%;
        font-size: 0.7rem;
        margin-left: 0;
    }
}
